:root{
  --blue:#1a6bff;
  --green:#00e676;
}

body{
  margin:0;
  font-family:Arial;
  background:white;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  padding:12px;
  background:linear-gradient(90deg,var(--blue),var(--green));
  color:white;
}

.icon{
  font-size:20px;
  cursor:pointer;
}

/* SEARCH */
#searchInput{
  border:none;
  border-radius:20px;
  padding:8px;
  width:60%;
}

/* GRID */
#grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(140px,1fr));
  gap:10px;
  padding:10px;
}

/* CARD */
.card{
  background:#f4f7ff;
  padding:10px;
  border-radius:15px;
  cursor:pointer;
}

/* SIDEBAR */
#sidebar{
  position:fixed;
  left:-260px;
  top:0;
  width:260px;
  height:100%;
  background:white;
  transition:.3s;
  padding:10px;
}

#sidebar.open{
  left:0;
}

/* LANG */
#langBox{
  position:absolute;
  right:10px;
  top:50px;
  background:white;
  display:none;
  border-radius:10px;
}

/* MODAL */
#modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.5);
  justify-content:center;
  align-items:center;
}

.modal-box{
  background:white;
  padding:20px;
  border-radius:20px;
}
